.mat-list, .list-incident {
  overflow: hidden;
  overflow-y: scroll;
  height: 100vh;
}

.cdk-visually-hidden {
  display: none;
}

mat-card {
  margin-bottom: 12px;
  background-color: white;
}

.filter {
  top:-10px;
}

.cdk-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.vote {
  padding-top: 7px;
  margin-left: 2px;
}

.vote-number {
  margin-left: 9px;
}

.info {
  margin-top: 20px;
}