.mat-list, .list-incident {
  overflow: hidden;
  overflow-y: scroll;
  height: 100vh;
}

.cdk-visually-hidden {
  display: none;
}

mat-card {
  margin-bottom: 12px;
  background-color: white;
}

.filter {
  top:-10px;
}

.cdk-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.vote {
  background-color: #F0F0F0;
  padding-top: 13px;
  margin-left: 2px;
  height: 20vh;
  margin-bottom: -24px;
}

.vote-number {
  width: 80%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.info {
  margin-top: 10px;
}

.shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.icon {
  width: 80%;
  text-align: center;
}

.center-icon {
  padding-top: 20px;
}

.danger {
  background-color:  #ff6666;
  color: white;
}