<!--<mat-list>
  <!--<h3 mat-subheader>Folders</h3>
  <mat-list-item *ngFor="let folder of folders">
    <mat-icon mat-list-icon>folder</mat-icon>
    <h4 mat-line>{{folder.name}}</h4>
    <p mat-line> {{folder.updated | date}} </p>
  </mat-list-item>
  <mat-divider></mat-divider>-->
  <!--<h3 mat-subheader>Notes</h3>-->
<div matSort (matSortChange)="sortData($event)" class="list-incident">

  <div class="row">
    <!-- header -->
    <div class="col-4" mat-sort-header="gravite"> Gravité </div>
    <div class="col-4" mat-sort-header="lum"> Moment </div>
    <div class="col-4" mat-sort-header="atm"> Météo </div>
  </div>

  <mat-card *ngFor="let accident of accidentsList">
    <div class="row">
      <div class="col-2">
        <img [src]="gravToIcon( accident.gravite )" height="35"/>
      </div>
      <div class="col-10">
        <div class="row">
          <h4>Commune</h4>
        </div>
        <div class="row">
          <p class="col-4" > dpt : {{ accident.dep }}</p>
          <p class="col-4" > <img [src]="lumToIcon( accident.contexte.lum )" height="30"> </p>
          <p class="col-4" > <img [src]="atmToIcon( accident.contexte.atm )" height="30"> </p>
        </div>
      </div>
    </div>
  </mat-card>
</div>
<!--</mat-list>-->