.mat-list, .list-incident {
  overflow: hidden;
  overflow-y: scroll;
  height: 100vh;
}

.cdk-visually-hidden {
  display: none;
}

mat-card {
  margin-bottom: 12px;
  background-color: white;
}

.filter {
  top:-10px;
}