


<!--<div class="row">-->
  <!--<div class="col-lg-4 offset-2">-->
    <!--<label class="label-control">Rows on page</label>-->
    <!--<select class="form-control input-sm" [(ngModel)]="rowsOnPage">-->
      <!--<option [ngValue]="5">5</option>-->
      <!--<option [ngValue]="10">10</option>-->
      <!--<option [ngValue]="15">15</option>-->
    <!--</select>-->
  <!--</div>-->
  <!--<div class="col-lg-6">-->
    <!--<div class="row">-->
      <!--<label class="col-lg-12 label-control">Sort by</label>-->
    <!--</div>-->
    <!--<div class="col-lg-6">-->
      <!--<div class="row">-->
        <!--<select class="form-control input-sm" [(ngModel)]="sortBy">-->
          <!--&lt;!&ndash;<option ngValue="name">Name</option>&ndash;&gt;-->
          <!--&lt;!&ndash;<option ngValue="email">Email</option>&ndash;&gt;-->
          <!--&lt;!&ndash;<option ngValue="age">Age</option>&ndash;&gt;-->
          <!--&lt;!&ndash;<option [ngValue]="sortByWordLength">City</option>&ndash;&gt;-->

          <!--&lt;!&ndash;<option ngValue="id">Id</option>&ndash;&gt;-->
          <!--<option ngValue="num">Num</option>-->
          <!--<option ngValue="com">Com</option>-->
          <!--<option ngValue="contexte">Contexte</option>-->
          <!--<option ngValue="dep">Dep</option>-->
          <!--<option ngValue="gravite">Gravite</option>-->
          <!--<option ngValue="date">Date</option>-->
        <!--</select>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-6">-->
      <!--<div class="row">-->
        <!--<select class="form-control input-sm" [(ngModel)]="sortOrder">-->
          <!--<option ngValue="asc">Ascending</option>-->
          <!--<option ngValue="desc">Descending</option>-->
          <!--<option ngValue="badValue">Bad value</option>-->
        <!--</select>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<div class="row">
  <div class="col-lg-6 offset-1">
<div class="panel panel-default">
  <div class="panel-heading">Information sur les accidents</div>

  <!--<table class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"-->
  <table class="table table-striped" [mfData]="accidentsList | filter: filterQuery" #mf="mfDataTable"
         [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
    <thead>
    <tr>
      <!--<th style="width: 20%">-->
        <!--<mfDefaultSorter by="id">Id</mfDefaultSorter>-->
      <!--</th>-->
      <th style="width: 20%">
        <mfDefaultSorter by="num">Num</mfDefaultSorter>
      </th>
      <th style="width: 20%">
        <mfDefaultSorter by="dep">Dep</mfDefaultSorter>
      </th>
      <th style="width: 10%">
        <mfDefaultSorter by="com">Com</mfDefaultSorter>
      </th>
      <th style="width: 20%">
        <mfDefaultSorter by="coords">Coords</mfDefaultSorter>
      </th>
      <th style="width: 40%; padding-right: 3vw;padding-left: 3vw;">
        <mfDefaultSorter by="contexte">Contexte</mfDefaultSorter>
      </th>
      <th style="width: 10%">
        <mfDefaultSorter by="gravite">Gravité</mfDefaultSorter>
      </th>
      <th style="width: 10%">
        <mfDefaultSorter by="date">Date</mfDefaultSorter>
      </th>
      <!--<th style="width: 20%">-->
        <!--<mfDefaultSorter [by]="sortByWordLength">City</mfDefaultSorter>-->
      <!--</th>-->
      <th style="width: 10%"></th>

    </tr>
    <tr>
      <!--<th colspan="5">-->
        <!--Filter by name:-->
        <!--<input class="form-control" [(ngModel)]="filterQuery"/>-->
      <!--</th>-->
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let accident of mf.data">
    <!--<tr *ngFor="let accident of accidentsList">-->
      <!--<td>{{accident._id}}</td>-->
      <td>{{accident.num}}</td>
      <td>{{accident.dep}}</td>
      <td>{{accident.com}}</td>
      <td>({{accident['geojson'].coordinates[0]}}, {{accident['geojson'].coordinates[1]}})</td>
      <td>
        <ul>
        <li>
          <img style="width: 30%;" [src]="atmToIcon(accident.contexte.atm)" class="img-fluid"/>
        </li>
        <li>
          <img style="width: 30%;" [src]="lumToIcon(accident.contexte.lum)" class="img-fluid"/>
        </li>
        <li>
          <img style="width: 30%;" [src]="surfToIcon(accident.contexte.surf)" class="img-fluid"/>
        </li>
        </ul>
      </td>
      <td>
        <img style="width: 70%" [src]="gravToIcon(accident.gravite)" class="img-fluid"/>
        </td>
      <td>
        {{accident.date | date: 'dd/MM/yyyy hh:mm'}}
      <td>
        <!--<button (click)="remove(item)" class="btn btn-danger">x</button>-->
        <!--<button class="btn btn-danger">x</button>-->
        <app-modal (click)="setAccidentToEdit(accident)"></app-modal>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="5">
        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
  </div>
</div>
