<!--<div class="row">-->
  <!--<div class="col-lg-6 offset-1">-->
    <!--<div class="panel panel-default">-->
      <!--<div class="panel-heading"><b>Accidents à traiter</b></div>-->

      <!--&lt;!&ndash;<table class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"&ndash;&gt;-->
      <!--<table class="table table-striped">-->
        <!--<thead>-->
        <!--<tr>-->
          <!--&lt;!&ndash;<th style="width: 20%">&ndash;&gt;-->
          <!--&lt;!&ndash;<mfDefaultSorter by="id">Id</mfDefaultSorter>&ndash;&gt;-->
          <!--&lt;!&ndash;</th>&ndash;&gt;-->
          <!--<th style="width: 10%;">-->
            <!--Num-->
          <!--</th>-->
          <!--<th style="width: 20%">Dep-->
          <!--</th>-->
          <!--<th style="width: 10%">-->
            <!--Com-->
          <!--</th>-->
          <!--<th style="width: 20%">-->
            <!--Coords-->
          <!--</th>-->
          <!--<th style="width: 40%; padding-right: 3vw;padding-left: 3vw;">-->
            <!--Contexte-->
          <!--</th>-->
          <!--<th style="width: 10%">-->
            <!--Gravité-->
          <!--</th>-->
          <!--<th style="width: 10%">-->
            <!--Vote-->
          <!--</th>-->
          <!--<th style="width: 10%">-->
            <!--Date-->
          <!--</th>-->
          <!--<th style="width: 10%">-->
          <!--</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody *ngIf="accidentsListBad != null">-->
        <!--<tr *ngFor="let accident of (accidentsListBad | vote)">-->
          <!--&lt;!&ndash;<tr *ngFor="let accident of accidentsList">&ndash;&gt;-->
          <!--&lt;!&ndash;<td>{{accident._id}}</td>&ndash;&gt;-->
          <!--<td>{{accident.num}}</td>-->
          <!--<td>{{accident.dep}}</td>-->
          <!--<td>{{accident.com}}</td>-->
          <!--<td>({{accident['geojson'].coordinates[0]}}, {{accident['geojson'].coordinates[1]}})</td>-->
          <!--<td>-->
            <!--<ul>-->
              <!--<li>-->
                <!--<img style="width: 30%;" [src]="atmToIcon(accident.contexte.atm)" class="img-fluid"/>-->
              <!--</li>-->
              <!--<li>-->
                <!--<img style="width: 30%;" [src]="lumToIcon(accident.contexte.lum)" class="img-fluid"/>-->
              <!--</li>-->
              <!--<li>-->
                <!--<img style="width: 30%;" [src]="surfToIcon(accident.contexte.surf)" class="img-fluid"/>-->
              <!--</li>-->
            <!--</ul>-->
          <!--</td>-->
          <!--<td>-->
            <!--<img style="width: 70%" [src]="gravToIcon(accident.gravite)" class="img-fluid"/>-->
          <!--</td>-->
          <!--<td>-->
            <!--{{accident.good-accident.bad}}-->
          <!--</td>-->
          <!--<td>-->
            <!--{{accident.date | date: 'dd/MM/yyyy hh:mm'}}-->
          <!--<td>-->
            <!--<app-modal (click)="setAccidentToEdit(accident)"></app-modal>-->
          <!--</td>-->
        <!--</tr>-->
        <!--</tbody>-->
      <!--</table>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading"><b>Information sur les accidents</b></div>

      <!--<table class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"-->
      <table class="table table-striped" [mfData]="accidentsList | vote" #mf="mfDataTable"
             [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
        <thead>
        <tr>
          <!--<th style="width: 20%">-->
          <!--<mfDefaultSorter by="id">Id</mfDefaultSorter>-->
          <!--</th>-->
          <th style="width: 10%;">
            <mfDefaultSorter by="num" style="padding-right: 3vw;padding-left: 3vw;">Num</mfDefaultSorter>
            <input class="form-control" placeholder="Recherche" [(ngModel)]="filterQuery"/>
          </th>
          <th style="width: 20%">
            <mfDefaultSorter by="dep">Dep</mfDefaultSorter>
          </th>
          <th style="width: 10%">
            <mfDefaultSorter by="com">Com</mfDefaultSorter>
          </th>
          <th style="width: 20%">
            <mfDefaultSorter by="coords">Coords</mfDefaultSorter>
          </th>
          <th style="width: 40%; padding-right: 3vw;padding-left: 3vw;">
            <mfDefaultSorter by="contexte">Contexte</mfDefaultSorter>
          </th>
          <th style="width: 10%">
            <mfDefaultSorter by="gravite">Gravité</mfDefaultSorter>
          </th>
          <th style="width: 10%">
            <mfDefaultSorter by="vote">Vote</mfDefaultSorter>
          </th>
          <th style="width: 10%">
            <mfDefaultSorter by="date">Date</mfDefaultSorter>
          </th>
          <!--<th style="width: 20%">-->
          <!--<mfDefaultSorter [by]="sortByWordLength">City</mfDefaultSorter>-->
          <!--</th>-->
          <th style="width: 10%">
          </th>

        </tr>
        <!--<tr>-->
        <!--<th colspan="5">-->
        <!--Filter:-->
        <!--<input class="form-control" [(ngModel)]="filterQuery"/>-->
        <!--</th>-->
        <!--</tr>-->
        </thead>
        <tbody *ngIf="mf.data != null">
        <tr *ngFor="let accident of (mf.data | vote)">
          <!--<tr *ngFor="let accident of accidentsList">-->
          <!--<td>{{accident._id}}</td>-->
          <td>{{accident.num}}</td>
          <td>{{accident.dep}}</td>
          <td>{{accident.com}}</td>
          <td>({{accident['geojson'].coordinates[0]}}, {{accident['geojson'].coordinates[1]}})</td>
          <td>
            <ul>
              <li>
                <img style="width: 30%;" [src]="atmToIcon(accident.contexte.atm)" class="img-fluid"/>
              </li>
              <li>
                <img style="width: 30%;" [src]="lumToIcon(accident.contexte.lum)" class="img-fluid"/>
              </li>
              <li>
                <img style="width: 30%;" [src]="surfToIcon(accident.contexte.surf)" class="img-fluid"/>
              </li>
            </ul>
          </td>
          <td>
            <img style="width: 70%" [src]="gravToIcon(accident.gravite)" class="img-fluid"/>
          </td>
          <td>
            {{accident.good-accident.bad}}
          </td>
          <td>
            {{accident.date | date: 'dd/MM/yyyy hh:mm'}}
          <td>
            <!--<button (click)="remove(item)" class="btn btn-danger">x</button>-->
            <!--<button class="btn btn-danger">x</button>-->
            <app-modal (click)="setAccidentToEdit(accident)"></app-modal>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="5">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<br/><br/>
<div class="row">
  <div class="col-lg-6">
<div class="panel panel-default">
  <div class="panel-heading"><b>Information sur les accidents</b></div>

  <!--<table class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"-->
  <table class="table table-striped" [mfData]="accidentsList | filter: filterQuery" #mf="mfDataTable"
         [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
    <thead>
    <tr>
      <!--<th style="width: 20%">-->
        <!--<mfDefaultSorter by="id">Id</mfDefaultSorter>-->
      <!--</th>-->
      <th style="width: 10%;">
        <mfDefaultSorter by="num" style="padding-right: 3vw;padding-left: 3vw;">Num</mfDefaultSorter>
        <input class="form-control" placeholder="Recherche" [(ngModel)]="filterQuery"/>
      </th>
      <th style="width: 20%">
        <mfDefaultSorter by="dep">Dep</mfDefaultSorter>
      </th>
      <th style="width: 10%">
        <mfDefaultSorter by="com">Com</mfDefaultSorter>
      </th>
      <th style="width: 20%">
        <mfDefaultSorter by="coords">Coords</mfDefaultSorter>
      </th>
      <th style="width: 40%; padding-right: 3vw;padding-left: 3vw;">
        <mfDefaultSorter by="contexte">Contexte</mfDefaultSorter>
      </th>
      <th style="width: 10%">
        <mfDefaultSorter by="gravite">Gravité</mfDefaultSorter>
      </th>
      <th style="width: 10%">
        <mfDefaultSorter by="vote">Vote</mfDefaultSorter>
      </th>
      <th style="width: 10%">
        <mfDefaultSorter by="date">Date</mfDefaultSorter>
      </th>
      <!--<th style="width: 20%">-->
        <!--<mfDefaultSorter [by]="sortByWordLength">City</mfDefaultSorter>-->
      <!--</th>-->
      <th style="width: 10%">
      </th>

    </tr>
    <!--<tr>-->
      <!--<th colspan="5">-->
        <!--Filter:-->
        <!--<input class="form-control" [(ngModel)]="filterQuery"/>-->
      <!--</th>-->
    <!--</tr>-->
    </thead>
    <tbody *ngIf="mf.data != null">
    <tr *ngFor="let accident of mf.data">
    <!--<tr *ngFor="let accident of accidentsList">-->
      <!--<td>{{accident._id}}</td>-->
      <td>{{accident.num}}</td>
      <td>{{accident.dep}}</td>
      <td>{{accident.com}}</td>
      <td>({{accident['geojson'].coordinates[0]}}, {{accident['geojson'].coordinates[1]}})</td>
      <td>
        <ul>
        <li>
          <img style="width: 30%;" [src]="atmToIcon(accident.contexte.atm)" class="img-fluid"/>
        </li>
        <li>
          <img style="width: 30%;" [src]="lumToIcon(accident.contexte.lum)" class="img-fluid"/>
        </li>
        <li>
          <img style="width: 30%;" [src]="surfToIcon(accident.contexte.surf)" class="img-fluid"/>
        </li>
        </ul>
      </td>
      <td>
        <img style="width: 70%" [src]="gravToIcon(accident.gravite)" class="img-fluid"/>
      </td>
      <td>
        {{accident.good-accident.bad}}
      </td>
      <td>
        {{accident.date | date: 'dd/MM/yyyy hh:mm'}}
      <td>
        <!--<button (click)="remove(item)" class="btn btn-danger">x</button>-->
        <!--<button class="btn btn-danger">x</button>-->
        <app-modal (click)="setAccidentToEdit(accident)"></app-modal>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="5">
        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
  </div>
</div>
