.map-container {
  height: 90vh;
}

.map {
  height: 100%;
}

.marker {
  background-image: url('https://image.flaticon.com/icons/svg/33/33622.svg');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.alert {
  position: relative;
  top: -100px;
  left: 18vw;
  width: 40%;
  text-align: center;
  background-color: indianred;
}