<div class="row">
  <div class="col-lg-4">
    <mat-card>
      <mat-card-content>
    <h3>Accidents en fonction de la luminosité</h3>

    <div style="display: block;">
      <canvas baseChart width="400" height="400"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
      </mat-card-content></mat-card>
  </div>

  <div class="col-lg-8">
    <mat-card>
      <mat-card-content>
    <h3 class="text-center">Accidents en fonction de la luminosité</h3>

    <div style="display: block">
      <canvas baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<br/><br/>
    <mat-card>
      <mat-card-content>
<div class="row">

  <div class="col-lg-6">
    <h3>Gravités en fonction des conditions atmosphériques</h3>
    <div>
      <div style="display: block">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <h3>Gravités en fonction des conditions atmosphériques</h3>
    <div style="display: block">
      <canvas baseChart
              [datasets]="radarChartData"
              [labels]="radarChartLabels"
              [chartType]="radarChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>
      </mat-card-content></mat-card>
