$from: rgb(49, 204, 214);
$to: rgb(4, 141, 254);

@mixin gradient($from, $to) {
  background: $from; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($from, $to); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($from, $to); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($from, $to); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-45deg, $from, $to); /* Standard syntax */
}

.modalComponent {
}

.modal-body {
  //height:40vh;
}

.modal-header {
  //@include gradient($to, $from);
  background-color: #17a2b8;
  color: white;
}

.badge-default {
  background-color: #efefef;
}

//img {
//    //background-color: white;
//  @include gradient($to, $from);
//
//  border-radius: 20%;
//    //border: 1px solid grey;
//    padding:10px;
//
//}

ul {
  list-style:none;
}

.shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
