.changeViewButton {
  position: absolute;
  top: 1vh;
  right: 2vw;
}

.no-padding-right {
  padding-right: 0;
}

.page {
  background-color: lightgray;
}

body {
  background-color: lightgray;
}

/*.side-nav {
  width: 8vw;
  position: absolute;
}*/

@media screen and (min-width: 575px) {
  .changeViewButton {
    display:none;
  }
}